#header {
  background-color: #bada55 !important;
  background-image: -moz-linear-gradient(top, #00ff00 0%, #bada55 100%) !important;
  background-image: -ms-linear-gradient(top, #00ff00 0%, #bada55 100%) !important;
  background-image: -o-linear-gradient(top, #00ff00 0%, #bada55 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00ff00), color-stop(1, #bada55)) !important;
  background-image: -webkit-linear-gradient(top, #00ff00 0%, #bada55 100%) !important;
  background-image: linear-gradient(top, #00ff00 0%, #bada55 100%) !important;
}
.less_demo_swap {
  margin: swap(10px, 15px);
}
